.input_container{
  background-color: white;
  width: 400px;
  margin: auto;
  margin-top: -70px;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 2px gray;
  cursor: pointer;
}
.input_container h3{
  margin-left: 8px;
  margin-top: 5px;
}
input{
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 20px;
  width: 280px;
  height: 35px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-right: 5px;
  outline: 0;
}
button i{
  margin-right: 5px;
}
button{
  height: 36px;
  width: 80px;
  border-radius: 3px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.add-button:hover{
  background-color: rgb(177, 230, 188);
  transition: .5s;
}

.delete-button:hover{
  background-color: rgb(252, 235, 0);
  transition: .5s;
}


ul{
  display: flex;
  align-items: center;
  margin: 0;
}
ul li{
  list-style-type: none;
  padding-bottom: 5px;
  background-color: #F1F5F8;
  padding: 4px;
  width: 250px;
  border-left: 2px solid rgb(38, 187, 255);
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 5px;
  letter-spacing: 2px;
}

ul li:hover {
  background-color: white;
}



